ul,
ol {
	&.is-style-arrows {
		@include list-unstyled;

		li {
			&::before {
				margin-right: 0.5rem;
				content: url( "data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.16955 3.08736C7.39736 2.85955 7.7667 2.85955 7.99451 3.08736L11.4945 6.58736C11.6039 6.69676 11.6654 6.84513 11.6654 6.99984C11.6654 7.15455 11.6039 7.30292 11.4945 7.41232L7.99451 10.9123C7.76671 11.1401 7.39736 11.1401 7.16955 10.9123C6.94175 10.6845 6.94175 10.3152 7.16955 10.0874L9.67374 7.58317L2.91536 7.58317C2.5932 7.58317 2.33203 7.322 2.33203 6.99984C2.33203 6.67767 2.5932 6.41651 2.91536 6.41651L9.67374 6.41651L7.16955 3.91232C6.94175 3.68451 6.94175 3.31516 7.16955 3.08736Z' fill='white'/%3E%3C/svg%3E%0A" );
				transform: scale( 1.1 );
			}
		}
	}
}
