{
	"root": true,
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended",
		"plugin:prettier/recommended"
	],
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"globals": {
		"CLI": "readonly",
		"FWP": true,
		"jQuery": "readonly",
		"wp": "readonly"
	}
}
