/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
	primary: #417aa9,
	secondary: #2c2276,
) !default;

$primary-light: #6096c7;
$gray-light: #f2f7fa;
