$navbar-height: 80px;
$navbar-height-desktop: 100px;
$navbar-shadow: $box-shadow;

/* --------------------------------------------------------------
  Mijn Zaken: footer
-------------------------------------------------------------- */
$mijn-zaken-footer-color: inherit !default;
$mijn-zaken-footer-bg-color: $gray-light !default;
