/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
	primary: #0071bb,
	secondary: #649b1c,
);

$primary-dark: #02426c;
$primary-light: #f0f5f8;
