$navbar-height: 110px;
$navbar-height-desktop: 110px;
$navbar-shadow: $box-shadow;

/* --------------------------------------------------------------
  Mijn Zaken: footer
-------------------------------------------------------------- */
$mijn-zaken-footer-color: #fff !default;
$mijn-zaken-footer-bg-color: $primary-dark !default;
