/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
  primary: #d41422,
  secondary: #333,
  tertiary: #fbbe04
);
