/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
  primary: $buren-color-rood-50,
  secondary: $buren-color-geel-50,
  tertiary: $buren-color-grijs-100
);