.footer {
	position: relative;
	padding-bottom: 23px;

	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 23px;
		background-image: url( '../img/footer-asset.svg' );
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: contain;
		content: '';
		pointer-events: none;
	}
}
