$breakpoint-sm: 576px;
$breakpoint-md: 820px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.openpdd-affairs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, auto);
  grid-gap: 1.5rem;
  grid-template-areas:
    "title view-all"
    "cards cards";

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "title"
    "view-all"
    "cards";
  }

  > * {
    margin: 0;
  }

  &__title {
    grid-area: title;
  }

  &__list {
    grid-area: cards;
    display: grid;
    grid-template-columns: inherit;
    grid-gap: inherit;
    list-style: none;
    padding: 0;
  }

  &__view-all {
    grid-area: view-all;
    justify-self: end;
    display: inline-flex;
    align-items: center;
    gap: .25rem;

    @media (max-width: $breakpoint-md) {
      justify-self: start;
    }

    svg {
      translate: 0 0;
      transition: translate .2s ease-out;
    }

    @media (hover: hover) {
      &:where(:hover, :focus) {
        > svg {
          translate: .5rem 0;
        }
      }
    }
  }
}

/** Overrides / additions for Den Haag card */
.denhaag-card {
  block-size: var(--denhaag-card-height);
}

.denhaag-card__actions {
  @media (max-width: $breakpoint-lg) {
    flex-wrap: wrap;

    .denhaag-card__subtitle {
      inline-size: 100%;
    }

    .denhaag-card__arrow {
      margin-inline-start: auto;
    }
  }
}

.denhaag-card__action-chip {
  margin-inline-start: auto;
  margin-inline-end: initial;
  padding: .25rem .5rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background: var(--openpdd-affair-card-action-chip-background, #001D5F);
  color: var(--openpdd-affair-card-action-chip-color, #FFF);
  border-radius: var(--denhaag-card-border-radius);
  line-height: 1.3;

  @media (max-width: $breakpoint-lg) {
    margin-inline-start: initial;
    margin-inline-end: auto;
  }
}

.denhaag-card__title {
  text-decoration: none;
}

.MuiCardActions-root {
  justify-content: space-between;
  gap: 1rem;
}

/** End overrides / additions for Den Haag card */

/** Taken from NLDS: Den Haag */
:root {
  --denhaag-card-arrow-left: '';
  --denhaag-card-arrow-position: '';
  --denhaag-card-arrow-right: '';
  --denhaag-card-border-color: black;
  --denhaag-card-border-radius: 3px;
  --denhaag-card-border-width: 1px;
  --denhaag-card-case-active-color: var(--openpdd-affair-card-case-active-color, #001D5F);
  --denhaag-card-case-archived-color: var(--openpdd-affair-card-case-archived-color, #001D5F);
  --denhaag-card-case-archived-primary-background-color: var(--openpdd-affair-card-case-archived-primary-background-color, #E9EFFF);
  --denhaag-card-case-archived-secondary-background-color: var(--openpdd-affair-card-case-archived-secondary-background-color, #4D6EB9);
  --denhaag-card-case-color: var(--openpdd-affair-card-case-active-color, #001D5F);
  --denhaag-card-case-height: 100%;
  --denhaag-card-case-padding-block-end: 1.25rem;
  --denhaag-card-case-padding-block-start: 1.25rem;
  --denhaag-card-case-paper-color: var(--openpdd-affair-card-case-paper-color, #FFF);
  --denhaag-card-case-primary-background-color: var(--openpdd-affair-card-case-primary-background-color, #E9EFFF);
  --denhaag-card-case-secondary-background-color: var(--openpdd-affair-card-case-secondary-background-color, #4D6EB9);
  --denhaag-card-height: 100%;
  --denhaag-card-subtitle-font-color: var(--openpdd-affair-card-subtitle-font-color, #001D5F);
  --denhaag-card-subtitle-font-size: 1rem;
  --denhaag-card-subtitle-font-weight: 700;
  --denhaag-card-subtitle-line-height: 1.3;
  --denhaag-card-subtitle-padding-block: 0;
  --denhaag-card-subtitle-padding: 0;
  --denhaag-card-title-font-size: 1.5rem;
  --denhaag-card-title-line-height: 1.3;
  --denhaag-card-title-padding-block: 0;
  --denhaag-card-title-padding-inline: 0;
  --denhaag-card-width: 100%;
  --denhaag-card-wrapper-padding-block: 2.5rem;
  --denhaag-card-wrapper-padding-inline: 1.5rem;
  --denhaag-focus-border: 1px solid black;
  --denhaag-title-font-color: var(--openpdd-affair-title-font-color, #001D5F);
}

.denhaag-card {
  width: var(--denhaag-card-width);
  border-radius: var(--denhaag-card-border-radius)
}

.denhaag-card--focus, .denhaag-card:focus-within {
  outline: none
}

.denhaag-card--hover, .denhaag-card:hover, .denhaag-card:hover:focus {
  cursor: pointer
}

.denhaag-card__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: var(--denhaag-card-height);
  border-width: var(--denhaag-card-border-width);
  border-style: solid;
  border-color: var(--denhaag-card-border-color);
  border-radius: var(--denhaag-card-border-radius);
  padding-block-start: var(--denhaag-card-wrapper-padding-block);
  padding-block-end: var(--denhaag-card-wrapper-padding-block);
  padding-inline-start: var(--denhaag-card-wrapper-padding-inline);
  padding-inline-end: var(--denhaag-card-wrapper-padding-inline)
}

.denhaag-card--focus .denhaag-card__text-wrapper, .denhaag-card:focus-within .denhaag-card__text-wrapper {
  position: relative;
  outline: var(--denhaag-focus-border)
}

.denhaag-card__arrow {
  position: var(--denhaag-card-arrow-position);
  right: var(--denhaag-card-arrow-right);
  left: var(--denhaag-card-arrow-left);
}

.denhaag-card__title {
  font-size: var(--denhaag-card-title-font-size);
  line-height: var(--denhaag-card-title-line-height);
  display: -webkit-box;
  text-decoration: none;
  color: var(--denhaag-title-font-color);
  padding-block-end: var(--denhaag-card-title-padding-block);
  padding-block-start: var(--denhaag-card-title-padding-block);
  padding-inline-end: var(--denhaag-card-title-padding-block);
  padding-inline-start: var(--denhaag-card-title-padding-inline);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.denhaag-card__title a:link, .denhaag-card__title a:visited {
  text-decoration: none;
  color: inherit
}

.denhaag-card__title a:link:focus {
  outline: none
}

.denhaag-card__subtitle {
  font-size: var(--denhaag-card-subtitle-font-size);
  font-weight: var(--denhaag-card-subtitle-font-weight);
  line-height: var(--denhaag-card-subtitle-line-height);
  color: var(--denhaag-card-subtitle-font-color);
  padding-block-end: var(--denhaag-card-subtitle-padding-block);
  padding-block-start: var(--denhaag-card-subtitle-padding-block);
  padding-inline-end: var(--denhaag-card-subtitle-padding-block);
  padding-inline-start: var(--denhaag-card-subtitle-padding-block)
}

.denhaag-card--case {
  position: relative;
  background: var(--denhaag-card-case-secondary-background-color);
  padding-block-start: var(--denhaag-card-case-padding-block-start)
}

.denhaag-card--case::before {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 50%;
  height: 20px;
  content: "";
  border-radius: 0 var(--denhaag-card-border-radius) 0 0;
  background: var(--denhaag-card-case-paper-color)
}

.denhaag-card--case .denhaag-card__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: var(--denhaag-card-case-height);
  border: 2px;
  border-radius: var(--denhaag-card-border-radius);
  background: rgba(0, 0, 0, 0);
  padding-block-end: var(--denhaag-card-case-padding-block-end);
  padding-block-start: var(--denhaag-card-case-padding-block-start);
  perspective: 1800px
}

.denhaag-card--case .denhaag-card__background {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 50% 100%;
  border-radius: var(--denhaag-card-border-radius);
  border-top-left-radius: 0;
  background: var(--denhaag-card-case-primary-background-color)
}

.denhaag-card--case .denhaag-card__background::before {
  position: absolute;
  top: -20px;
  left: 0;
  display: block;
  width: 60%;
  height: 25px;
  content: "";
  border-top-left-radius: var(--denhaag-card-border-radius);
  background: var(--denhaag-card-case-primary-background-color)
}

.denhaag-card--case .denhaag-card__background::after {
  position: absolute;
  top: -20px;
  left: 55%;
  display: block;
  width: 10%;
  height: 22px;
  content: "";
  transform: skewX(30deg);
  background: var(--denhaag-card-case-primary-background-color)
}

.denhaag-card--case .denhaag-card__arrow {
  position: var(--denhaag-card-arrow-position);
  right: var(--denhaag-card-arrow-right);
  left: var(--denhaag-card-arrow-left);
  color: var(--denhaag-card-case-color)
}

.denhaag-card--case.denhaag-card--hover .denhaag-card__arrow, .denhaag-card--case.denhaag-card--focus .denhaag-card__arrow, .denhaag-card--case:hover .denhaag-card__arrow, .denhaag-card--case:focus-within .denhaag-card__arrow {
  color: var(--denhaag-card-case-active-color)
}

.denhaag-card--focus .denhaag-card__arrow, .denhaag-card:focus-within .denhaag-card__arrow {
  outline: var(--denhaag-focus-border)
}

.denhaag-card--case .denhaag-card__title {
  font-weight: 700;
  position: relative;
  color: var(--denhaag-card-case-color);
  padding-block-end: var(--denhaag-card-title-padding-block);
  padding-block-start: var(--denhaag-card-title-padding-block);
  padding-inline-end: var(--denhaag-card-title-padding-inline);
  padding-inline-start: var(--denhaag-card-title-padding-inline)
}

.denhaag-card--case.denhaag-card--hover .denhaag-card__title, .denhaag-card--case.denhaag-card--focus .denhaag-card__title, .denhaag-card--case:hover .denhaag-card__title, .denhaag-card--case:focus-within .denhaag-card__title {
  color: var(--denhaag-card-case-active-color)
}

.denhaag-card--case .denhaag-card__subtitle {
  font-weight: 500;
  position: relative;
  color: var(--denhaag-card-case-color);
  padding-block-start: var(--denhaag-card-subtitle-padding);
  padding-block-end: var(--denhaag-card-subtitle-padding);
  padding-inline-start: var(--denhaag-card-subtitle-padding);
  padding-inline-end: var(--denhaag-card-subtitle-padding)
}

.denhaag-card--case.denhaag-card--hover .denhaag-card__subtitle, .denhaag-card--case.denhaag-card--focus .denhaag-card__subtitle, .denhaag-card--case:hover .denhaag-card__subtitle, .denhaag-card--case:focus-within .denhaag-card__subtitle {
  color: var(--denhaag-card-case-active-color)
}

.denhaag-card--case.denhaag-card--hover::before, .denhaag-card--case.denhaag-card--focus::before, .denhaag-card--case:hover::before, .denhaag-card--case:focus-within::before {
  top: 12px;
  transform: rotate(-2.45deg);
  transform-origin: right
}

.denhaag-card--case.denhaag-card--focus .denhaag-card__background, .denhaag-card--case.denhaag-card--hover .denhaag-card__background, .denhaag-card--case:hover .denhaag-card__background, .denhaag-card--case:focus-within .denhaag-card__background {
  transform: rotateX(-20deg)
}

.denhaag-card--case.denhaag-card--archived {
  --denhaag-card-case-primary-background-color: var(--denhaag-card-case-archived-primary-background-color);
  --denhaag-card-case-secondary-background-color: var(--denhaag-card-case-archived-secondary-background-color);
  --denhaag-card-case-color: var(--denhaag-card-case-archived-color)
}

.MuiCardActions-root {
  display: flex;
  align-items: center;
}