/**
 * Default fill: .yard-blocks-button
 */
.wp-block-button__link {
	@include button;
	@include button-color( theme-color( 'primary' ) );

	&.has-primary-background-color {
		@include button-color( theme-color( 'primary' ) );
	}

	&.has-secondary-background-color {
		@include button-color( theme-color( 'secondary' ) );
	}

	&.has-white-background-color {
		@include button-color($white);
	}

	&.has-black-background-color {
		@include button-color($black);
	}
}

/**
 * Project buttons
 */
.btn {
	@include button;
}

.btn-primary {
	@include button-color( theme-color( 'primary' ) );
}

.btn-secondary {
	@include button-color( theme-color( 'secondary' ) );
}

.btn-tertiary {
	@include button-color( theme-color( 'tertiary' ) );
}

/**
 * Buttons wrapper: basic style
 */
.wp-block-buttons {
	gap: 0.5em;
  margin-bottom: 2rem;
}

// Gutenberg width settings
.wp-block-button__width-25 {
	width: 25%;
}

.wp-block-button__width-50 {
	width: 50%;
}

.wp-block-button__width-75 {
	width: 75%;
}

.wp-block-button__width-100 {
	width: 100%;
}

.wp-block-button__width-25,
.wp-block-button__width-50,
.wp-block-button__width-75,
.wp-block-button__width-100 {
	.wp-block-button__link {
		width: 100%;
	}
}

/**
 * Skip to content button
 */
.btn-focus {
	position: absolute;
	top: -200vh;

	&:focus {
		z-index: $zindex-popover;
		top: 1rem;
		left: 1rem;
	}
}

