/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #2f881b,
  secondary: #001e60,
  tertiary: #2f881b
);
