.DS_Store
.buildpath
.env
.idea/*
.npmrc
.php-cs-fixer.cache
.php_cs.cache
.phpunit.result.cache
.settings/*
_ide_helper.php
auth.json
deploy.php
htdocs/wp-content/db.php
htdocs/wp-content/debug.log
htdocs/wp-content/languages
htdocs/wp-content/mu-plugins/wp-migrate-db-pro-compatibility.php
htdocs/wp-content/object-cache.php
htdocs/wp-content/plugins
htdocs/wp-content/themes/**/assets/dist/
htdocs/wp-content/themes/**/vendor/
!htdocs/wp-content/themes/owc-formulieren/assets/scss/vendor/
htdocs/wp-content/uploads
htdocs/wp/*
storage/certificates
tests/coverage
tests/coverage
vendor/*
node_modules
