/* --------------------------------------------------------------
 Navigation
-------------------------------------------------------------- */
$navbar-height: 95px;
$navbar-height-desktop: 95px;

/* --------------------------------------------------------------
 Progress bar
-------------------------------------------------------------- */
$bar-color: $red;
