/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
	primary: #e0001e,
	secondary: #307ba7,
);

// Colors used for buttons
$accessible-primary: #b30018;
$accessible-secondary: #335c75;
