/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
	primary: #244c96,
	secondary: #e21d1d,
);

$primary-light: #758bc0;
$gray-light: #f9f9f9;
