.navbar {
	.menu-item {
		position: relative;
		height: 100%;
		align-items: center;

		a {
			color: $black;
			font-size: $font-size-base;

			@include hover-focus-active() {
				color: $green;
				text-decoration: none;
			}
		}
	}
}
