/*--------------------------------------------------------------
  Settings
--------------------------------------------------------------*/
@import 'settings/colors';
@import 'settings/bootstrap';
@import 'settings/variables';

/*--------------------------------------------------------------
  Parent theme
--------------------------------------------------------------*/
@import '../../../owc-formulieren/assets/scss/style';

/*--------------------------------------------------------------
  Components
--------------------------------------------------------------*/
@import 'components/custom-logo';
@import 'components/buttons';
@import 'components/footer';
@import 'components/navbar';

/*--------------------------------------------------------------
  Generic
--------------------------------------------------------------*/
@import 'generic/typography';
@import 'generic/headings';
