/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
	primary: #028937,
	secondary: #5f3560,
);
