$block: 'wp-block-navigation';
$block-breakpoint: md;
$app-icon-size: 40px;
$app-icon-border-radius: $border-radius;
$app-icon-bg-color: var( --primary-100, $primary-100 );
$app-icon-color: $primary-200;

// Used on the Mijn Zaken page. Two styles to choose from.
.#{$block}.is-style-tiles {
	margin-bottom: 1.5rem;

	@include media-breakpoint-up( $block-breakpoint ) {
		display: none;
	}

	.wp-block-navigation__container {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat( 2, 1fr );
	}

	.wp-block-navigation-item {
		height: 100%;
	}

	.wp-block-navigation-item__content {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.75rem 0.15rem;
		border: 1px solid var( --primary-200, $primary-200 );
		border-radius: $border-radius;
		gap: 0.5rem;
		text-decoration: none;

		&:hover {
			background-color: var( --primary-100, $primary-100 );
			text-decoration: none;
		}

		&:focus {
			background-color: var( --primary-100, $primary-100 );

			.wp-block-navigation-item__label {
				text-decoration: underline;
			}
		}
	}

	.wp-block-navigation-item__icon {
		color: $primary-200;
		font-size: 1.3;
		line-height: 1;
	}

	.yard-municipality-icon {
		svg {
			$size: 24px;
			width: $size;
			height: $size;
			fill: $primary-200;
		}
	}

	.wp-block-navigation-item__label {
		line-height: $line-height-sm;
		text-align: center;
	}
}

// Used on the Mijn Zaken page
.#{$block}.is-style-app {
	margin-bottom: 1.5rem;

	@include media-breakpoint-up( $block-breakpoint ) {
		display: none;
	}

	.wp-block-navigation__container {
		display: grid;
		column-gap: 0.5rem;
		grid-template-columns: repeat( 3, 1fr );
		row-gap: 1rem;
	}

	.wp-block-navigation-item {
		height: 100%;
	}

	.wp-block-navigation-item__content {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		&:focus {
			.wp-block-navigation-item__label {
				text-decoration: underline;
			}
		}
	}

	.wp-block-navigation-item__icon {
		display: flex;
		width: $app-icon-size;
		height: $app-icon-size;
		align-items: center;
		justify-content: center;
		border-radius: $app-icon-border-radius;
		background-color: $app-icon-bg-color;
		color: $app-icon-color;
		font-size: 1.3rem;
		line-height: 1;
	}

	.yard-municipality-icon {
		display: flex;
		width: $app-icon-size;
		height: $app-icon-size;
		align-items: center;
		justify-content: center;
		border-radius: $app-icon-border-radius;
		background-color: $app-icon-bg-color;
		color: $app-icon-color;

		svg {
			$size: 24px;
			width: $size;
			height: $size;
			fill: $app-icon-color;
		}
	}

	.wp-block-navigation-item__label {
		font-size: 14px;
		hyphens: auto;
		line-height: 1.4;
		text-align: center;
	}
}
