$breakpoint-sm: 576px;
$breakpoint-md: 820px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.openpdd-personal-heading {
	--gradient-color: rgba(218, 189, 160, 1);
	display: grid;
	background-image: linear-gradient(
			195deg,
			var(--gradient-color) 0%,
			rgba(255, 255, 255, 0) 55%
	);
	gap: 1.5rem;
	grid-template-columns: 1fr 22rem;

	&.afternoon {
		--gradient-color: rgba(186, 202, 219, 1);
	}

	&.evening {
		--gradient-color: rgba(235, 165, 57, 1);
	}

	@media (max-width: $breakpoint-lg) {
		background-image: linear-gradient(
				210deg,
				var(--gradient-color) 0%,
				rgba(255, 255, 255, 0) 80%
		);
		grid-template-columns: 1fr;
	}

	.dynamic {
		display: none;
	}

	&__header {
		display: flex;
		flex-wrap: wrap;
		gap: .5rem;
	}

	&__content {
		display: flex;
		flex-direction: column;
		order: -1;
		gap: inherit;
		padding-block-start: 4rem;

		> * {
			margin: 0;
		}

		@media (max-width: $breakpoint-lg) {
			order: 1;
			padding-block-start: 0;
		}
	}

	&__image-wrapper {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='361' height='181' viewBox='0 0 361 181' fill='none'%3E%3Cpath fill='black' d='M0 0H361V181L64.1612 128.671C49.5995 126.104 37.6417 115.713 33.0676 101.652L0 0Z'/%3E%3C/svg%3E");
		mask-repeat: no-repeat;
		mask-size: cover;

		@media (max-width: $breakpoint-lg) {
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='360' height='182' viewBox='0 0 360 182' fill='none'%3E%3Cpath d='M0 0H360V182L33.7982 130.804C14.3394 127.75 0 110.985 0 91.2881V0Z' fill='black'/%3E%3C/svg%3E");
		}
	}

	&__image {
		block-size: 100%;
		inline-size: 100%;
		object-fit: cover;
		display: none;
	}
}

.page-main__content {
	grid-area: content;

	> .openpdd-personal-heading:first-child {
		@include media-breakpoint-up(md) {
			margin-top: calc(
				var(--openpdd-mijn-zaken-container-spacing) * -1
			);
		}
	}
}
