@import url( 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap' );

@font-face {
	font-display: swap;
	font-family: 'FedraSans';
	font-style: normal;
	font-weight: 400;
	src: url( '../fonts/FedraSans-Book.woff2' ) format( 'woff2' );
}

@font-face {
	font-display: swap;
	font-family: 'FedraSans';
	font-style: normal;
	font-weight: 500;
	src: url( '../fonts/FedraSans-Medium.woff2' ) format( 'woff2' );
}
