/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$blue: #009ad5 !default;
$light-blue: #e8f6fc !default;
$green: #99be1e !default;
$purple: #8667cc !default;
$red: #e42c0c !default;
$yellow: #f9dc00 !default;

$theme-colors: (
	primary: #000,
	secondary: $blue,
	tertiary: $yellow,
);
