/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
	primary: #ffffff,
	secondary: #671e45,
	tertiary: #671e45,
);
