/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

@import '~bootstrap/scss/functions';

$theme-colors: (
	primary: #3282b8,
	secondary: #0f4c75,
) !default;

$grays: (
	concrete: #f2f2f2,
	athens-gray: #f4f4f5,
	shark: #212529,
	boulder: #757575,
	graphic: #949494,
	ghost: #f4f4f4,
) !default;

// MijnHW design extra colors
$primary-300: #001d5f;
$primary-200: #4d6eb9;
$primary-100: #e9efff;
