:root {
	text-underline-offset: 0.25em;

	/* --------------------------------------------------------------
		Theme.json
	-------------------------------------------------------------- */
	--color-palette-primary: #{theme-color( 'primary' )};
	--color-palette-secondary: #{theme-color( 'secondary' )};
	--color-palette-white: #fff;
	--color-palette-black: #000;
	--layout-content-size: 800px;
	--layout-wide-size: #{map-get( $container-max-widths, 'xl' )};

	/* --------------------------------------------------------------
		Overwrite NLDS variables
	-------------------------------------------------------------- */
	--denhaag-sidenav-link-hover-color: #{theme-color( 'primary' )};
	--denhaag-sidenav-link-active-color: #{theme-color( 'primary' )};
}
