/* --------------------------------------------------------------
Navigation
-------------------------------------------------------------- */
$navbar-height: 100px;
$navbar-height-desktop: 100px;
$navbar-background: #fff;
$navbar-shadow: $box-shadow;

/* --------------------------------------------------------------
  Btn outline 
-------------------------------------------------------------- */
$btn-outline-border-width: 2px;
$btn-outline-border-style: solid;
$btn-outline-border-background: transparent;

/* --------------------------------------------------------------
  Progress bar
-------------------------------------------------------------- */
$inner-bar-height: 38px;
$bar-border-radius: 5px;
$bar-padding: 0px;
$bar-padding-color: transparent;
$bar-color: #6495ed;
$bar-background-color: rgba( 175, 204, 255, 0.12 );

/* --------------------------------------------------------------
  Checkbox & radiobuttons
-------------------------------------------------------------- */
$g-color: gray( 'graphic' );
$g-color-checked: theme-color( 'primary' ) !default;
