/* Datepicker styling */
.ui-datepicker {
  @extend .table;
  width: auto;
  padding: $spacer;
  border: 1px solid $gray-300;
  background-color: $white;
  border-radius: $border-radius;

  td {
    padding: $spacer * 0.7;
  }

  th {
    border-top: none;
  }

  tr:hover {
    cursor: pointer;
  }

  tr:first-child {
    background-color: white;
    font-weight: $font-weight-normal;

    &:hover {
      background-color: $gray-300;
    }
  }

  &-header {
    margin-bottom: $spacer * 0.5;
    text-align: center;
  }

  &-calendar {
    margin-bottom: 0;
    border: none;
  }

  &-week-end {
    font-weight: $font-weight-bold;
  }

  .ui-corner-all {
    cursor: pointer;
  }

  &-prev {
    float: left;
    text-align: left;
  }

  &-next {
    float: right;
    text-align: right;
  }
}

.datepicker {
  width: 115px;
}
