/* Datepicker styling */
.ui-datepicker {
	@extend .table;
	display: none;
	width: auto;
	padding: $spacer;
	border: 1px solid $gray-300;
	border-radius: $border-radius;
	background-color: $white;

	td {
		padding: $spacer * 0.3;

		&:hover {
			background-color: gray( '200' );
			cursor: pointer;
		}
	}

	th {
		border-top: none;
	}

	tr:hover {
		cursor: pointer;
	}

	tr:first-child {
		background-color: white;
		font-weight: $font-weight-normal;
	}

	&-header {
		margin-bottom: $spacer * 0.5;
		text-align: center;
	}

	&-calendar {
		border: none;
		margin-bottom: 0;
	}

	&-week-end {
		font-weight: $font-weight-bold;
	}

	.ui-corner-all {
		cursor: pointer;
	}

	&-prev {
		float: left;
		text-align: left;
	}

	&-next {
		float: right;
		text-align: right;
	}
}

.datepicker {
	width: 115px;
}
