$block: 'digid';

.#{$block}-btn {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	border-radius: 14px;
	border-bottom: 0 !important;
	gap: 1.5rem;
	text-decoration: none;

	@include hover-focus-active {
		background-color: gray( 'concrete' );
	}

	@include media-breakpoint-up( xl ) {
		margin-right: $spacer * 4;
	}

	&__img {
		width: 80px;
	}

	&__text {
		color: $body-color;
	}

	&__title {
		font-weight: $font-weight-bold;
	}
}
