$block: 'digid';

.#{$block}-btn {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 0.5rem;
	border-radius: 14px;
	border-bottom: 0 !important;
	gap: 1rem;
	text-decoration: none;

	@include hover-focus-active {
		background-color: gray( 'concrete' );
	}

	@include media-breakpoint-up( xl ) {
		margin-right: $spacer * 4;
	}

	&__img {
		width: 80px;
	}

	&__text {
		padding-left: 0 !important;
		color: $body-color;
	}

	&__title {
		font-weight: $font-weight-bold;
		line-height: $line-height-sm;
	}

	&__subtitle {
		font-size: $small-font-size;
		line-height: $line-height-sm;
	}
}
