/**
 * Gravity Forms custom field styles
 *
 * Styling for both legacy and new markup.
 *
 * ========================================================================= */
.gform_wrapper .gform_body {
	.ginput_container_bag_address {
		$gap: 0.5rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;

		@include media-breakpoint-up( sm ) {
			gap: 0.5rem;
		}

		span {
			width: 100%;
		}

		// Zip
		span:nth-child( 1 ) {
			flex-basis: 100%;

			@include media-breakpoint-up( sm ) {
				flex-basis: calc( 50% - #{$gap} );
			}
		}

		// Number & addition
		span:nth-child( 2 ),
		span:nth-child( 3 ) {
			overflow: hidden;
			flex-basis: calc( 50% - #{$gap} );

			@include media-breakpoint-up( sm ) {
				flex-basis: calc( 25% - #{$gap} );
			}
		}

		// Search button wrapper
		span:nth-child( 4 ) {
			position: relative;
			flex-basis: 100%;

			&::before {
				@include fontawesome( '\f002' );
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 20px;
				color: $white;
				font-weight: $font-weight-bold;
				pointer-events: none;
				transform: translateY( -50% );
				transition: 0.15s ease all;
			}
		}

		.bag-search-button {
			@include button;
			@include button-color( theme-color( 'primary' ) );
			position: relative;
			padding-left: $spacer * 3;
		}

		.result {
			width: 100%;
			height: auto !important;
			margin-bottom: $spacer * 1.5;
			color: $danger;
			font-size: $font-size-base;
		}
	}

	// Signicat styles
	.gfield.gfield--type-owc-signicat-openid-eherkenning,
	.gfield.gfield--type-owc-signicat-openid-digid {
		$digid-logo-size: 80px;
		position: relative;
		display: grid;
		width: fit-content;
		padding: 0.5rem;
		border-radius: 15px;
		column-gap: 1rem;
		grid-template-columns: $digid-logo-size 1fr;
		grid-template-rows: 1fr;
		row-gap: 0.1rem;
		transition: $btn-transition;

		&:hover {
			background-color: gray( 'concrete' );
		}

		.ginput_container_openid {
			grid-area: 1 / 1 / 3 / 2;

			img {
				width: $digid-logo-size;
				height: $digid-logo-size;
				object-fit: contain;
			}

			a {
				border-bottom: 0 !important;

				&::after {
					position: absolute;
					content: '';
					inset: 0;
				}
			}
		}

		.gform-field-label {
			align-self: center;
			margin-bottom: 0;
			grid-area: 1 / 2 / 2 / 3;
			line-height: $line-height-sm;
		}

		.gfield_description {
			width: 100%;
			align-self: start;
			padding: 0;
			grid-area: 2 / 2 / 3 / 3;
			line-height: $line-height-sm;
		}

		// If it has a description, make it a two-row grid
		&:has( .gfield_description ) {
			grid-template-rows: repeat( 2, auto );

			.gform-field-label {
				align-self: end;
			}
		}
	}
}
