/**
 * Gravity Forms legacy styles
 *
 * These styles will be loaded if the theme forces legacy markup through a hook,
 * or when the "Legacy markup" setting is enabled in the Gravity Forms settings.
 *
 * ========================================================================= */
.gform_legacy_markup_wrapper.gform_wrapper {
	table {
		@extend .table;
	}

	ul {
		@extend .list-unstyled;
	}

	label {
		font-weight: $font-weight-bold;
	}

	.hidden_sub_label,
	.screen-reader-text {
		display: none;
	}

	.radio-buttons--horizontal {
		ul {
			display: flex;

			li {
				margin-right: 2rem;
			}

			label {
				padding-top: 2rem;
				padding-left: 0.1rem;
			}
		}
	}

	.gfield {
		margin-bottom: $spacer * 2;

		@include media-breakpoint-up( md ) {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
		}

		&_visibility_ {
			display: none;
		}

		&_error {
			textarea,
			input {
				@extend .is-invalid;
			}

			> label {
				color: $danger;
			}

			.validation_message {
				@extend .invalid-feedback;
				display: block;
				margin-top: 0;

				@include media-breakpoint-up( md ) {
					width: 51%;
				}
			}
		}

		&_list_container {
			thead {
				th {
					padding-left: $spacer * 1.5;
				}
			}
		}

		&_list_icons {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&_price {
			input[type='number'] {
				width: 115px;
			}
		}
	}

	.gfield_visibility_hidden {
		position: absolute;
		left: -9999px;
		visibility: hidden;
	}

	.gfield_label {
		padding-right: $spacer;
		transition: 0.2s ease all;

		@include media-breakpoint-up( md ) {
			flex: 1 0 50%;
		}
	}

	.gfield_description {
		padding: $spacer * 0.5 0;
		font-size: $spacer;

		@include media-breakpoint-up( md ) {
			width: 51%;
			padding-left: $spacer * 0.7;
		}

		ul {
			margin-bottom: $spacer;
			margin-left: $spacer * 2;
			list-style: disc;

			li {
				margin-bottom: $spacer * 0.5;
			}
		}

		&.gfield_validation_message {
			padding: $spacer * 0.5 $spacer !important;
			border: 1px solid $danger;
			border-radius: $input-border-radius;
			margin-top: $spacer;
			background-color: rgba( $danger, 0.05 );
			color: $danger;
		}
	}

	.gfield_required {
		padding-left: 1px;
		color: $red;
	}

	/* Heading */
	.gform_heading {
		margin-bottom: $spacer;

		.gform_title {
			display: none;
		}

		.gform_description {
			margin-bottom: $spacer * 0.5;
		}
	}

	.ginput_container {
		@include media-breakpoint-up( md ) {
			flex: 1 0 50%;
		}

		input[type='text'],
		input[type='email'],
		input[type='tel'],
		input[type='url'],
		input[type='number'],
		select {
			@extend .form-control;
			width: 100%;
			height: auto;

			&::placeholder {
				color: gray( '500' );
			}
		}

		textarea {
			@extend .form-control;
			width: 100%;

			&::placeholder {
				color: gray( '500' );
			}
		}

		select {
			height: $spacer * 2.9;
		}

		// Checkboxes and radio's
		&_radio,
		&_checkbox,
		&_consent {
			@extend .form-check;
			padding-left: 0;

			label {
				@extend .form-check-label;
				padding-left: $spacer * 2.2;
				font-weight: $font-weight-normal;

				@supports ( -webkit-touch-callout: none ) {
					/* CSS specific to iOS devices */
					padding-left: $spacer * 1.4;
				}
			}

			input[type='text'] {
				margin-left: $spacer * 2; // For the "other" option
			}

			.gfield_checkbox,
			.gfield_radio {
				li {
					display: flex;
					align-items: flex-start;
					margin-bottom: $spacer * 0.5;

					&:last-child {
						margin-bottom: 0;
					}

					input[type='checkbox']:checked + label,
					input[type='radio']:checked + label {
						font-weight: $font-weight-bold;
					}

					// Custom checkbox
					input[type='checkbox'] {
						@include custom-input-icon( '\f0c8', '\f14a' );
					}

					// Custom radiobutton
					input[type='radio'] {
						@include custom-input-icon( '\f111', '\f192' );
					}
				}
			}
		}

		&_consent {
			display: flex;
			align-items: flex-start;

			// Custom checkbox
			input[type='checkbox'] {
				@include custom-input-icon( '\f0c8', '\f14a', -4px, 7px );

				&:focus {
					& + label {
						font-weight: $font-weight-normal;
					}
				}
			}
		}

		&_time {
			display: inline-block;

			input[type='number'] {
				width: 100%;
				min-width: 100px;
			}

			i {
				display: none;
			}

			label {
				font-weight: $font-weight-normal;
			}
		}

		&_list {
			@extend .table-responsive;
		}

		.add_list_item,
		.delete_list_item {
			width: $spacer * 1.75;
			height: $spacer * 1.75;
			margin: #{$spacer * 0.25} auto;

			img {
				width: 100% !important;
				height: 100% !important;
				margin: 0;
			}
		}

		.ginput_counter {
			font-size: $spacer;
		}

		.gform_fileupload_multifile input[type='file'] {
			opacity: 0;
		}
	}

	// Submission overview (all_fields)
	.gform_page_fields {
		.gfield_html_formatted {
			padding: 0;
			background-color: transparent;
		}

		table:first-child {
			background-color: gray( 'ghost' );
		}

		table tbody table tr {
			background-color: $pagination-bg;

			td {
				font-weight: bold;
			}

			&:nth-child( even ) {
				background-color: $white;

				td {
					font-weight: normal;
				}
			}
		}

		font {
			font-family: $font-family-base !important;
			font-size: 1rem !important;
		}
	}

	.validation_error {
		position: relative;
		display: none;
		padding: $spacer * 0.75 $spacer * 1.25;
		border: 1px solid $danger;
		border-radius: 0;
		margin-bottom: $spacer;
		color: $danger;
	}

	// Complex fields
	.gfield_label_before_complex {
		padding-bottom: $spacer * 0.3125;
	}

	.ginput_complex {
		label {
			padding-top: $spacer * 0.625;
			padding-bottom: $spacer * 0.625;
			margin-bottom: 0;
			font-size: $spacer;
			font-weight: $font-weight-normal;
		}

		.ginput {
			&_full {
				display: block;
			}

			&_left,
			&_right {
				display: inline-block;
				width: 100%;
			}
		}

		&.gf_name_has_2 {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			@include media-breakpoint-up( md ) {
				flex-direction: row;
			}

			span,
			input {
				width: 100%;
			}
		}

		&.gf_name_has_3 {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			@include media-breakpoint-up( md ) {
				flex-direction: row;
			}

			span,
			input {
				width: 100%;
			}
		}

		.clear-multi {
			display: flex;
			gap: 0.5rem;

			> .ginput_container {
				flex: auto;
			}
		}
	}

	.gsection {
		flex-direction: column;
		justify-content: flex-start;
		margin-bottom: $spacer * 2;

		.gsection_title {
			padding-bottom: $spacer * 0.5;
			border-bottom: 1px solid gray( '300' );
		}

		ul {
			margin-bottom: $spacer;
			margin-left: $spacer * 2;
			list-style: disc;

			li {
				margin-bottom: $spacer * 0.5;
			}
		}
	}

	.form_saved_message {
		form {
			display: flex;
		}

		input[type='email'] {
			@extend .form-control;
			height: auto;
			margin-right: $spacer * 0.5;

			@include media-breakpoint-up( md ) {
				width: calc( 50% - 8px );
			}
		}

		input[type='submit'] {
			@extend .btn;
			@extend .btn-primary;
		}

		.resume_form_link_wrapper {
			word-break: break-all;
		}
	}

	.gform_confirmation_message {
		@extend .alert;
		@extend .alert-success;
	}

	.gfield_html_formatted {
		display: block;
		padding: $spacer;
		background-color: rgba( theme-color( 'primary' ), 0.08 );

		@include media-breakpoint-up( md ) {
			padding: $spacer * 2;
		}

		ul {
			margin-bottom: $spacer;
			margin-left: $spacer * 2;
			list-style: disc;

			li {
				margin-bottom: $spacer * 0.5;
			}
		}
	}

	.clear-multi {
		@include media-breakpoint-up( md ) {
			flex-basis: 50%;
		}
	}

	.gfield--type-fileupload {
		input[type='file']::file-selector-button {
			@include button;
			@include button-color( gray( 'concrete' ) );
			margin-right: 1rem;
		}

		.gform_fileupload_rules {
			display: block;
			width: 100%;
			padding-left: 0;
			color: gray( 'boulder' );
			font-size: $small-font-size;
		}

		.gform_drop_area {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			padding: 1rem;
			border: 1px dashed $input-border-color;
			border-radius: $input-border-radius;
			background-color: $input-bg;
			gap: 0.5rem 1rem;

			.gform_drop_instructions {
				color: gray( 'boulder' );
			}

			.gform_button_select_files {
				@include button;
				@include button-color( gray( 'concrete' ) );
			}
		}

		.gform-ul-reset {
			.gfield_description {
				width: 100%;
				padding-left: 0;
			}
		}

		.ginput_preview_list {
			min-width: 50%;
			order: 10;

			.ginput_preview {
				position: relative;
				display: flex;
				align-items: baseline;
				margin-top: 1rem;
				gap: 0.5rem;

				&::before {
					@include fontawesome( '\f1f8' );
					position: absolute;
					top: 50%;
					left: 0;
					pointer-events: none;
					transform: translateY( -50% );
				}

				&:not( :has( .gform_delete ) ) {
					padding-left: 1.75rem;
				}

				.gform_delete {
					$size: 20px;
					width: $size;
					height: $size;
					align-self: center;
					opacity: 0;
				}

				.gfield_fileupload_filesize,
				.gfield_fileupload_progress {
					color: gray( 'boulder' );
					font-size: $font-size-base * 0.9;
					line-height: 1;
				}
			}
		}
	}

	.gform_footer,
	.gform_page_footer {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		padding: ( $spacer * 1.5 ) 0;
		border-top: 1px solid gray( '300' );
		gap: 1rem;
		text-align: right;

		input[type='submit'],
		input[type='button'] {
			padding: $btn-padding-y $btn-padding-x;
			border: none !important;
			border-radius: $btn-border-radius;

			&.gform_button,
			&.gform_next_button {
				@include button-color( theme-color( 'primary' ) );
				order: 2;
			}

			&.gform_previous_button {
				@include button-color(
					gray( 'concrete' ),
					darken( gray( 'concrete' ), 20% )
				);
				order: 1;
				color: $black !important;
			}
		}

		.gform_save_link {
			order: 0;
			margin-top: $spacer;
			margin-right: auto;
			line-height: 1.2;
		}
	}

	// Honey pot
	.gform_validation_container,
	li.gform_validation_container,
	ul.gform_fields li.gfield.gform_validation_container,
	.gform_body ul.gform_fields li.gfield.gform_validation_container {
		position: absolute !important;
		left: -9000px;
		display: none !important;
	}
}
