$block: 'sidebar';

.#{$block} {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

	.menu-item {
		a {
			position: relative;
			display: inline-block;
			padding: 0.65rem 0 0.65rem 2.5rem;
			color: $black;
			line-height: $line-height-sm;

			&:hover,
			&:focus {
				color: theme-color( 'primary' );
				text-decoration: underline;

				svg {
					fill: theme-color( 'primary' );
				}
			}
		}

		i {
			position: absolute;
			top: 50%;
			left: 0;
			font-size: 1.3rem;
			transform: translateY( -50% );
		}

		.yard-municipality-icon {
			position: absolute;
			top: calc( 50% - 2px );
			left: 0;
			transform: translateY( -50% );

			svg {
				$size: 28px;
				width: $size;
				height: $size;
				fill: $body-color;
			}
		}
	}

	.current-menu-item {
		a {
			color: theme-color( 'primary' );
			font-weight: $font-weight-bold;
		}

		i {
			font-weight: $font-weight-base;
		}

		.yard-municipality-icon svg {
			fill: theme-color( 'primary' );
		}
	}
}
