/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
	primary: #bf0042,
	secondary: #333,
	tertiary: #00b1eb,
);
