.page-template-template-mijn-zaken {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: var( --color-palette-white );

	.footer {
		margin-top: auto;
	}
}

.page-main--mijn-zaken {
	--openpdd-mijn-zaken-container-spacing: 3rem;
	display: grid;
	flex: 1 0 auto;
	gap: var( --openpdd-mijn-zaken-gap, 2rem );
	grid-template-areas: var(
		--openpdd-mijn-zaken-template,
		'aside' 'content'
	);
	padding-block-end: var( --openpdd-mijn-zaken-container-spacing );
	padding-block-start: var( --openpdd-mijn-zaken-container-spacing );

	@include media-breakpoint-up( md ) {
		--openpdd-mijn-zaken-template: 'aside content content';
		--openpdd-mijn-zaken-gap: 2.5rem;
	}

	.page-main__aside {
		height: fit-content;
		grid-area: aside;

		@include media-breakpoint-up( md ) {
			position: sticky;
			top: var( --openpdd-mijn-zaken-gap );
			bottom: var( --openpdd-mijn-zaken-gap );
		}
	}

	.page-main__content {
		grid-area: content;

		@include media-breakpoint-up( md ) {
			margin-top: calc(
				var( --openpdd-mijn-zaken-container-spacing ) * -1
			);
		}
	}
}
