.page-template-template-mijn-zaken,
.page-template-template-mijn-zaken-main,
.page-template-template-mijn-zaken-home {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: var( --color-palette-white );

	.footer {
		margin-top: auto;
	}
}

.page-main--mijn-zaken {
	--openpdd-mijn-zaken-container-spacing: 3rem;
	display: grid;
	flex: 1 0 auto;
	gap: var( --openpdd-mijn-zaken-gap, 2rem );
	grid-template-areas: var(
		--openpdd-mijn-zaken-template,
		'aside' 'content'
	);
	padding-block-end: var( --openpdd-mijn-zaken-container-spacing );
	padding-block-start: var( --openpdd-mijn-zaken-container-spacing );

	@include media-breakpoint-up( md ) {
		--openpdd-mijn-zaken-template: 'aside content content';
		--openpdd-mijn-zaken-gap: 2.5rem;
		grid-template-columns: 1fr 3fr;
	}

	.page-main__aside {
		height: fit-content;
		grid-area: aside;

		@include media-breakpoint-up( md ) {
			position: sticky;
			top: var( --openpdd-mijn-zaken-gap );
			bottom: var( --openpdd-mijn-zaken-gap );
		}
	}

	.page-main__content {
		grid-area: content;
	}
}

.page-main--mijn-zaken-main {
	--openpdd-mijn-zaken-container-spacing: 3rem;
	padding-block-end: var( --openpdd-mijn-zaken-container-spacing );
	padding-block-start: var( --openpdd-mijn-zaken-container-spacing );

	.page-main__content {
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
	}
}

.page-template-template-mijn-zaken-home {
	.page-main--mijn-zaken-main {
		padding-block-end: 0;
	}

	.page-main__content {
		margin-top: -5rem;
		margin-bottom: -400px;
	}
}
