$footer: 'footer';

.#{$footer} {
	.wp-block-heading {
		color: $yellow-400;
		font-size: $h4-font-size;
	}

	a {
		color: inherit;
	}

	&-bottom-menu {
		display: flex;
		height: 100%;
		flex-wrap: wrap;
		margin: 0;
		gap: 1rem;

		@include media-breakpoint-up( lg ) {
			flex-direction: row;
		}

		.menu-item {
			flex-basis: calc( 50% - 1rem );
			margin: 0;

			@include media-breakpoint-up( sm ) {
				flex-basis: auto;
			}

			a {
				color: $white;
				font-size: 1rem;
			}
		}
	}

	&-bottom-copy {
		font-size: 1rem;
	}
}
