$footer: 'footer';

.#{$footer} {
	.wp-block-heading {
		color: $yellow-400;
		font-size: $h4-font-size;
	}

	a {
		color: inherit;
	}

	&-bottom-menu {
		a {
			color: $white;
			font-size: 1rem;
		}
	}

	&-bottom-copy {
		font-size: 1rem;
	}
}
