/*--------------------------------------------------------------
  Settings
--------------------------------------------------------------*/
@import 'settings/colors';
@import 'settings/bootstrap';
@import 'settings/variables';
@import 'settings/root';

/*--------------------------------------------------------------
  Tools
--------------------------------------------------------------*/
@import 'tools/mixins';
@import 'tools/helpers';

/*--------------------------------------------------------------
  Blocks
--------------------------------------------------------------*/
@import 'blocks/navigation/shared';
@import 'blocks/navigation/editor';
@import 'blocks/tile/inspector';
@import 'blocks/personal-heading/shared';

/*--------------------------------------------------------------
  Layouts
--------------------------------------------------------------*/
@import 'layouts/admin';

.editor-styles-wrapper {
	background-color: $body-bg;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;

	/*--------------------------------------------------------------
      Vendor
  --------------------------------------------------------------*/
	@import 'vendor/bootstrap';

	/*--------------------------------------------------------------
      Blocks
  --------------------------------------------------------------*/
	@import 'components/buttons';

	/*--------------------------------------------------------------
      Blocks
  --------------------------------------------------------------*/
	@import 'blocks/tile/shared';

	// Shame, todo move
	a::after {
		content: none !important;
	}
}
