/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

@import '~bootstrap/scss/functions';

$theme-colors: (
	primary: #0061a1,
	secondary: #afdb0e,
);
