/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
	primary: #671e45,
	secondary: #671e45,
  tertiary: #671e45
);
