@mixin box-shadow-underline(
	$border-color: rgba( theme-color( 'secondary' ), 0.5 ),
	$box-shadow-color: rgba( theme-color( 'tertiary' ), 0.5 ),
	$text-color: #000
) {
	padding-bottom: 1px;
	border-bottom: 1px solid theme-color( 'primary' );
	box-shadow: $box-shadow-color 0px 0px 0px inset;
	font-weight: $font-weight-normal;
	transition: 0.4s all ease-out;

	@include hover-focus-active {
		border-bottom: 1px solid darken( theme-color( 'primary' ), 15% );
		box-shadow: $box-shadow-color 0px -2rem 0px inset;
		color: $black;
		text-decoration: none;
	}
}
