/*--------------------------------------------------------------
  Settings
--------------------------------------------------------------*/
@import 'settings/design-token-variables'; // Todo: refractor to CSS variables
@import 'settings/colors';
@import 'settings/bootstrap';
@import 'settings/root';
@import 'tools/mixins';
@import 'settings/variables';

/*--------------------------------------------------------------
  Parent theme
--------------------------------------------------------------*/
@import '../../../owc-formulieren/assets/scss/style';

/*--------------------------------------------------------------
  Layouts
--------------------------------------------------------------*/
@import 'blocks/wp/shared';

/*--------------------------------------------------------------
  Components
--------------------------------------------------------------*/
@import 'components/buttons';
@import 'components/gravityforms-legacy';
@import 'components/menu';
@import 'components/navbar';
@import 'components/progress-bar';
@import 'components/site-branding';

/*--------------------------------------------------------------
  Elements
--------------------------------------------------------------*/
@import 'elements/body';
@import 'elements/typography';
@import 'elements/heading';

/*--------------------------------------------------------------
  Layouts
--------------------------------------------------------------*/
@import 'layouts/template-openzaak';
