/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
	primary: #ea1017,
	secondary: #fcb731,
);
