$navbar-height: 110px;
$navbar-height-desktop: 110px;
$navbar-shadow: $box-shadow;

/* --------------------------------------------------------------
  Mijn Zaken: footer
-------------------------------------------------------------- */
$mijn-zaken-footer-color: #000 !default;
$mijn-zaken-footer-bg-color: $body-bg !default;
