h1,
.h1 {
  font-weight: 700;
  color: theme-color("secondary");
  animation-duration: 0.7s;
  animation-name: fade-up;
  animation-timing-function: ease;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
