/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
	primary: #032d57,
	secondary: #e5754c,
);

$mijn-zaken-footer-bg-color: #032d57;
