/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

$theme-colors: (
	primary: #002f5d,
	secondary: #e5754c,
);

$mijn-zaken-footer-bg-color: #002f5d;
